table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #666
}
th, td { padding: 5px; }
.dataTables_scrollHeadInner{
  width:100% !important;
}
.dataTables_scrollHeadInner table{
  width:100% !important;
}

/* Prevent text wrapping in table cells */
table.dataTable td {
  white-space: nowrap;
}

/* Additional styling for DT::datatable */
.dataTables_wrapper {
  font-size: 13px; /* Adjust font size as needed */
}

/* Ensure full width for DT tables */
.dataTables_scrollBody {
  width: 100% !important;
}

/* Styling for the scroll head to match the body's width */
.dataTables_scrollHeadInner, .dataTables_scrollHeadInner table {
  width: 100% !important;
}

/*
.code-folding-btn {
  display: none;
}
*/
h3, .h3 {
  font-size: 22px!important;
}
h4, .h4 {
  font-size: 18px!important;
}
h5, .h5 {
  font-size: 16px!important;
}
body{
  font-size: 13px;
}
pre {
  line-height: 1;
}
.tocify-subheader {
    text-indent: 15px;
    display: none;
    font-size: 12px;
}
